<svg width=700 height=400>
    {{# chart()}} 
    
    <!--
        Offset the graph so that we have space for labels and to pad the top of the chart.
    <-->
    <g transform='translate( 25, {{ 25 - yscale(axisMax(y)) }} )'>
        
        <!-- Areas -->
        {{# curves:index }}
        <g>
            <path class='chart-element chart-area' d="{{ area.path.print() }}" fill='{{ fill(index) }}' />
        </g>
        {{/}}
        
        
        <!-- Lines -->
        {{# curves:index }}
        <g>
            <path class='chart-element chart-line' d="{{ line.path.print() }}" stroke='{{ fill(index) }}' />
        </g>
        {{/}}
        
        
        <!-- X Axis -->
        <line class='chart-element chart-axis chart-x-axis' stroke="black" x1="{{ xscale(axisMin(x)) }}" y1="{{ yscale(axisMin(y)) }}" x2="{{ xscale(axisMax(x)) }}" y2="{{ yscale(axisMin(y)) }}" />
        
        {{# x.ticks }}
        <g transform="translate({{ xscale(.) }},{{ yscale(axisMin(y)) }})">
            <circle class='chart-element chart-axis-element chart-tick chart-x-tick' r="2" cx="0" cy="0"></circle>
            <text class='chart-element chart-tick-text chart-x-tick-text' transform='translate(0, 12)' text-anchor="middle">{{ x.format(.) }}</text>
        </g>
        {{/}}
        
        
        <!-- Y Axis -->
        <line class='chart-element chart-axis chart-y-axis' stroke="black" x1="{{ xscale(axisMin(x)) }}" y1="{{ yscale(axisMin(y)) }}" x2="{{ xscale(axisMin(x)) }}" y2="{{ yscale(axisMax(y)) }}" />
        
        {{# y.ticks }}
        <g transform="translate({{ xscale(axisMin(x)) }},{{ yscale(.) }})">
            <circle class='chart-element chart-tick chart-y-tick' r="2" cx="0" cy="0"/>
            <text class='chart-element chart-tick-text chart-y-tick-text' transform="translate(-6, 4)" text-anchor="end">{{ y.format(.) }}</text>
        </g>
        {{/}}
    </g>
    {{/}}
</svg>
