<div class="btn-group btn-group-xs">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        {{ title ? title : (options[index].label ? options[index].label : "") }}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        {{# options }}
        <li role="presentation">
            <a on-click='select' role="menuitem" tabindex="-1" href="#">{{label}}</a>
        </li>
        {{/options}}
    </ul>
</div>
