{{# rows}}
<div class='row'>
    <div class='col-sm-12'>
        <div class="btn-toolbar filterrow datafilter" role="toolbar">
            <div class='btn-group btn-group-xs'>
                <button on-click='delete' type="button" class="close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Delete</span>  
                </button>
            </div>  
            <div class='btn-group'>
                <button type="button" class="btn btn-xs colorindicator" style='background-color:{{dataColor}}'>
                </button>
            </div>
            <div class='btn-group'>
                {{# filters() }}
                <dropdown options='{{options}}' index='{{selectedIndex}}'/>
                {{/}}
            </div>
        </div>
    </div>
</div>
{{/rows}}

<div class='row'>
    <button on-click="insert" type="button" class="btn btn-default">Add</button>
</div>
