<div class='row'>
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav">
        {{#reports}}
            <li class="{{ activeReport === this ? 'active' : 'inactive'}}">
                <a on-click='navbarSelect' href="#">{{title}}</a>
            </li>
        {{/reports}}
        </ul>
    </div>
    <div class="col-sm-9 col-md-10 report">
        {{# activeReport }}
            {{# id === "recruitment" }}
                <recruitment/>
            {{/}}
        {{/activeReport}}
    </div>
</div>
