<panel title="Annual recruitment performance">
    <controlbar>
        <dropdown items="{{filterModeOptions}}" selected="{{filterMode}}"></dropdown>
        <dropdown items="{{commercialOptions}}" selected="{{commercial}}"></dropdown>
        <toggle label="Weighted" value="{{weighted}}"></toggle>
    </controlbar>
    
    <style>
        
        text: {
          font-family: sans-serif;
        }
    </style>
    
    <barchart
        data='{{annualRecruitmentData}}'
        legend='{{examplelegend}}'
        width='2000'
        y-label=''
        group-spacing='10'>
    </barchart>
</panel>
