<panel title="Annual recruitment performance">
    <filter items='{{filters}}' newitem='{{newfilter}}'>
        <multidropdown title="Trusts" items="{{allTrusts}}" selected="{{trusts}}"></multidropdown>
        <multidropdown title="Divisions" items="{{allDivisions}}" selected="{{divisions}}"></multidropdown>
        <multidropdown title="Specialties" items="{{allSpecialties}}" selected="{{specialties}}"></multidropdown>
    </filter>
    
    <barchart
        data='{{annualRecruitmentData}}'
        legend='{{examplelegend}}'
        width='2000'
        y-label=''
        group-spacing='10'>
    </barchart>
    
    <datatable 
        headers='{{ ["", "2012-13", "2013-14", "2014-15"] }}'
        keys='{{ ["grouping", "2012", "2013", "2014"] }}' 
        data='{{tabledata}}'>
    </datatable>
</panel>
