<div>
    <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
    {{format(selected)}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        {{# items}}
            {{# this === selected }}
            <li class="active">
                <a href="#">{{ format(this) }}</a>
            </li>
            {{/#}}
            {{# this !== selected}}
            <li>
                <a href="#" on-click="select">{{ format(this) }}</a>
            </li>
            {{/#}}
        {{/#}}
    </ul>
</div>
