<span class='btn-group'>
    <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
        {{ title }} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        {{# items}}
            {{# contains(selected, this) }}
            <li class="active">
                <a href="#" on-click="toggle">{{ format(this) }}</a>
            </li>
            {{else}}
            <li>
                <a href="#" on-click="toggle">{{ format(this) }}</a>
            </li>
            {{/#}}
        {{/#}}
    </ul>
</span>