<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ title }} <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        {{# items}}
            {{# contains(selected, this) }}
            <li class="active">
                <a href="#" on-click="select">{{ format(this) }}</a>
            </li>
            {{else}}
            <li>
                <a href="#" on-click="select">{{ format(this) }}</a>
            </li>
            {{/#}}
        {{/#}}
    </ul>
</li>