.chart-area {
    fill-opacity: 0.1;
}

.chart-line {
    shape-rendering: "crispEdges";
    stroke-opacity: 0.95;
    stroke-width: 1.5;
    fill-opacity: 0;
}

.chart-axis {
    shape-rendering: "crispEdges";
    stroke: #000;
    stroke-opacity: 0.2;
}

.chart-tick {
    shape-rendering: "crispEdges";
    stroke: #000;
    stroke-opacity: 0.7;
    fill: #fff;
}

.chart-tick-text {
    text-rendering: "optimizeLegibility";
    font-size: 10px;
    text-color: #888;
}
