.filterrow {
  padding-top:5px;
  padding-bottom:5px;
  vertical-align: middle;
}

.colorindicator {
    border-width: 0px;
    width: 50px;
    height: 22px;
}

.datafilter {
  padding-top:5px;
  padding-bottom:5px;
}
